/* Golos-Text */

@font-face {
    font-family: 'GolosTextWebBlack';
    src:
            url('Golos-Text_Black.woff2') format('woff2'),
            url('Golos-Text_Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GolosTextWebBold';
    src:
            url('Golos-Text_Bold.woff2') format('woff2'),
            url('Golos-Text_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GolosTextWebDemiBold';
    src:
            url('Golos-Text_DemiBold.woff2') format('woff2'),
            url('Golos-Text_DemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GolosTextWebMedium';
    src:
            url('Golos-Text_Medium.woff2') format('woff2'),
            url('Golos-Text_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GolosTextWebRegular';
    src:
            url('Golos-Text_Regular.woff2') format('woff2'),
            url('Golos-Text_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GolosTextWebVF';
    src:
            url('Golos-Text_VF.woff2') format('woff2'),
            url('Golos-Text_VF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Golos-UI */


@font-face {
    font-family: 'GolosUIWebBold';
    src:
            url('Golos-UI_Bold.woff2') format('woff2'),
            url('Golos-UI_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GolosUIWebMedium';
    src:
            url('Golos-UI_Medium.woff2') format('woff2'),
            url('Golos-UI_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GolosUIWebRegular';
    src:
            url('Golos-UI_Regular.woff2') format('woff2'),
            url('Golos-UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GolosUIWebVF';
    src:
            url('Golos-UI_VF.woff2') format('woff2'),
            url('Golos-UI_VF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}