.App {
  background-color: #E5E7EB;
  font-family: 'GolosTextWebRegular', sans-serif;
  overflow: hidden;
  max-height: 100vh;
}

.footerInApp {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Golos-Text */

@font-face {
  font-family: 'GolosTextWebBlack';
  src:
          url('../src/assets/styles/fonts/golos-text_black.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-text_black.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosTextWebBold';
  src:
          url('../src/assets/styles/fonts/golos-text_bold.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-text_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosTextWebDemiBold';
  src:
          url('../src/assets/styles/fonts/golos-text_demibold.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-text_demibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GolosTextWebMedium';
  src:
          url('../src/assets/styles/fonts/golos-text_medium.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-text_medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GolosTextWebRegular';
  src:
          url('../src/assets/styles/fonts/golos-text_regular.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-text_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GolosTextWebVF';
  src:
          url('../src/assets/styles/fonts/golos-text_vf.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-text_vf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Golos-UI */


@font-face {
  font-family: 'GolosUIWebBold';
  src:
          url('../src/assets/styles/fonts/golos-ui_bold.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-ui_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GolosUIWebMedium';
  src:
          url('../src/assets/styles/fonts/golos-ui_medium.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-ui_medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GolosUIWebRegular';
  src:
          url('../src/assets/styles/fonts/golos-ui_regular.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-ui_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GolosUIWebVF';
  src:
          url('../src/assets/styles/fonts/golos-ui_vf.woff2') format('woff2'),
          url('../src/assets/styles/fonts/golos-ui_vf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
