.content {
    background-color: #E5E7EB;
    border-radius: 10px;
    margin: 0 auto 15rem auto;
    width: 95%;
    max-height: 89vh;
    overflow-y: scroll;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 6px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #e4e6ea;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #9CA3AF;
    border-radius: 9em;
    /*box-shadow: inset 1px 1px 10px #f3faf7;*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

