.header {
  padding: 1.5% 0 1% 0;
  background-color: #E5E7EB;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;

  .headerText {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #374151;
  }

  .buttonBlock {
    background-color: #D1D5DB;
    border-radius: 5px;
    padding: 4px;

    .button {
      background-color: #D1D5DB;
      border-radius: 5px;
      border: none;
      font-size: 17px;

      &:hover {
        border: none;
        color: #374151;
      }
    }

    .active {
      background-color: #FFFFFF;
    }
  }
}
