.miniCard {
    width: 330px;
}

.miniCard .cardHeader {
    display: flex;
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.avaImage {
    width: 64px;
    height: 64px;
    margin-right: -0.3rem;
}

.userDataType {
    display: flex;
    justify-content: start;
    /*margin: 1rem 0 0 0;*/
    font-size: smaller;
    color: #6B7280;
}

.divider {
    margin: 1rem 0 1rem 0;
    border-top: 1px solid #E5E7EB;
}

.userData {
    color: #374151;

}